@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F3;
}
.container{
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container-form{
    width: 100%;
    overflow: hidden;
}

.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-form form h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.social-networks{
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.social-networks ion-icon{
    border: 1px solid #C9CCCB;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.container-form span{
    font-size: 12px;
    margin-bottom: 15px;
}
.contairner-imput{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}

.contairner-imput input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.container-form a{
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3AB397;
    color: white;
}

/*ANimacion de los formularios*/


.sing-up{
    transform: translateX(-100%);
}
.container.toggle .sign-in{ 
    transform: translateX(100%);
}

.container.toggle .sing-up{ 
    transform: translateX(0%);
}

/*Welcome*/
.container-welcom{
    background-color: #3AB397;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    transform: translateX(100%);
    align-items: center;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}
.container.toggle .container-welcom{
    transform: translateX(0%);
    border-radius: 0 50% 50% 0;
    background-color: #3AA8AD;
}

.container-welcom .welcom{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}
.welcom-sing-in{
    transform: translateX(100%);
}

.container-welcom h3{
    font-size: 40px;
}

.container-welcom p{
    font-size: 14px;
    text-align: center;
}

.container-welcom .button{
    border: 2px solid white;
    background-color: transparent;
}   

.container.toggle .welcom-sing-in{
    transform: translateX(0%);
}

.container.toggle .welcom-sing-up{
    transform: translateX(-100%);
}